RewriteEngine On

# Redireciona tudo que não seja um arquivo ou diretório existente para api.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]